datasets
fastapi
huggingface-hub
matplotlib
numpy
pandas
Pillow
pydantic
# torch==2.7.0
torchvision
tqdm
transformers==4.48.0
vllm==0.7.0
wandb
peft
einops 
timm
albumentations
torchmetrics
openai
anthropic
pymupdf
pybind11
joblib
